// COLOR VARIABLES
$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);

$color-brown: hsl(0, 6%, 24%);

$color-gradient-light-1: hsl(0, 0%, 100%);
$color-gradient-light-2: hsl(0, 100%, 98%);
$color-gradient-dark-1: hsl(0, 80%, 86%);
$color-gradient-dark-2: hsl(0, 74%, 74%);

// FONT VARIABLES
$font-family: 'Josefin Sans', sans-serif;

// FONT SIZE
$default-font-size: 1.6rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

body {
    font-family: $font-family;
    font-size: 1.4rem;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, $color-gradient-light-1, $color-gradient-light-2);
    position: relative;
}

.container {
    @media only screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.header {
    padding: 3rem;

    @media only screen and (min-width: 1200px) {
        position: absolute;
        width: 57.7%;
        padding: 0;
    }

    &__container {
        @media only screen and (min-width: 1200px) {
            width: 50rem;
            margin: 6.2rem auto 0 auto;
        }
    }

    &__logo {
        height: 2rem;
        width: auto;

        @media only screen and (min-width: 1200px) {
            height: 3.15rem;
        }
    }
}

.hero {
    width: 100%;
    height: 25rem;
    background-image: url(../images/hero-mobile.jpg);
    background-size: cover;

    @media only screen and (min-width: 768px) {
        height: 34rem;
    }

    @media only screen and (min-width: 1200px) {
        background-image: url(../images/hero-desktop.jpg);
        width: 42.3%;
        height: 100vh;
    }
}

.text {
    @media only screen and (min-width: 1200px) {
        height: 100vh;
        width: 57.7%;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }    


    &__container {
        text-align: center;
        padding: 6rem 3.2rem;
        color: $color-desaturated-red;
        max-width: 50rem;
        height: 100%;
        margin: 0 auto;
    
        @media only screen and (min-width: 768px) {
            padding: 9rem 3.2rem
        }
    
        @media only screen and (min-width: 1200px) {
            text-align: left;
            padding: 0;
            padding: 7.5rem 6rem 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4rem;
        line-height: 4.2rem;
        letter-spacing: 10px;
        margin-bottom: 1.8rem;

        @media only screen and (min-width: 768px) {
            font-size: 6.4rem;
            line-height: 6.4rem;
        }

        @media only screen and (min-width: 1200px) {
            letter-spacing: 17px;
        }
    }

    &__heading--bold {
        color: $color-brown;
        font-weight: 600;

        @media only screen and (min-width: 768px) {
            line-height: 7.1rem;
        }
    }

    &__copy {
        line-height: 2.2rem;
        margin-bottom: 3.4rem;

        @media only screen and (min-width: 768px) {
            font-size: 1.6rem;
            line-height: 2.8rem;
        }

        @media only screen and (min-width: 768px) {
            margin-bottom: 4rem;
        }
    }
}

.form {
    display: block;
    height: 4.8rem;
    width: 100%;
    position: relative;

    @media only screen and (min-width: 768px) {
        height: 5.6rem;
    }

    &__label {
        position: absolute;
        visibility: hidden;
    }

    &__input {
        height: 100%;
        width: 100%;
        border-radius: 100px;
        outline: none;
        border: 1px solid hsla(0, 36%, 70%, 0.6);
        padding: 2.4rem;
        background-color: transparent;

        @media only screen and (min-width: 768px) {
            padding-left: 3.2rem;
            font-size: 1.6rem;
        }
    }

    &__input::placeholder {
        color: $color-desaturated-red;
        opacity: .6;
        font-family: $font-family;
    }

    &__error-icon {
        height: 2.4rem;
        width: 2.4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7rem;
        display: none;

        @media only screen and (min-width: 1200px) {
            right: 11rem;
        }
    }

    &__btn {
        width: 6.4rem;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 100px;
        border: none;
        outline: none;
        background-image: linear-gradient(135deg, $color-gradient-dark-1, $color-gradient-dark-2);
        box-shadow: 0px 15px 20px hsla(0, 44%, 60%, 0.25);
        cursor: pointer;
        transition: all 0.3s;

        @media only screen and (min-width: 768px) {
            width: 10rem;
        }

        &:hover {
            background-image: linear-gradient(135deg, hsla(0, 52%, 80%, 0.781), $color-gradient-dark-1);
            box-shadow: 0px 15px 15px hsla(0, 44%, 60%, 0.28);
            transform: scale(1.05);
        }
    }

    &__error-text {
        color: $color-soft-red;
        position: absolute;
        left: 2rem;
        transform: translateY(-2rem);
        opacity: 0;
        display: block;
        transition: transform, .3s, opacity .3s;
    }
}

.error {
    .form__error-icon {
        display: block;
    }

    .form__input {
        border: 2px solid $color-soft-red;
    }

    .form__error-text {
        transform: translateY(1rem);
        opacity: 1;
    }
}

.attribution {
    color: $color-brown;
    font-size: 11px;
    line-height: 1.6rem;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    a {
        color: $color-desaturated-red;
        text-decoration: none;
        position: relative;
        transition: color .3s;
    }

    a:hover {
        color: $color-soft-red;
    }

    a::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-soft-red;
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transition: all .3s;
    }

    a:hover::after {
        transform: scaleX(1);
    }
}